


/*body*/

/*header*/
header {
    display: flex;
    background-color: aquamarine;
    height: 25vh;
    padding-left: 40px;
}


h1 {
    font-size: 2.5em;
    height: 100%;
    align-self: center;
    margin: 0;
    text-align: center;
    
    

}


nav {
    flex-basis: 60%;
    display: flex;
    justify-content: space-evenly;
    gap: 5em;
    padding-left: 60px;

    

}

a {
    list-style: none;
    font-size: x-large;
    align-self: center;
    

}