
/*COLOR PALETTE*/
/* CSS HEX
--imperial-red: #f23642ff; - RED (background)
--violet-jtc: #542644ff; - PLUM (text)
--saffron: #e4c139ff; - YELLOW (logos and borders)
--tiffany-blue: #94d0c2ff; LIGHT BLUE ()
--periwinkle: #ddd3f5ff; LIGHT PURPLE ()
*/







/*body*/
body {
    color: #542644ff;
}

/*header*/
header {
    display: flex;
    background-color: #F5666F;
    height: 25vh;
    padding-left: 40px;
}


h1 {
    font-size: 2.5em;
    align-self: center;
    margin: 0;
    text-align: center;
    
    

}


nav {
    flex-basis: 60%;
    display: flex;
    justify-content: flex-end;
    gap: 5em;
    padding-right: 60px;

    

}

a {
    list-style: none;
    font-size: xx-large;
    align-self: center;
    text-decoration: none;
    

}

/*MAIN*/

h2 {
    font-size: xx-large;
}

/*LANDING PAGE*/

#landing-section {
    height: 580px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 65vh;
    margin: 15px 0;
    padding: 5px 0;
    background: #e4c139ff;
}

#landing-img /*2488x3360px*/ {
    width: 430px;
    height: 430px;
    object-fit: cover;
    object-position: 50% 65%;
    border-radius: 50%;
    position: relative;
    left: 30px;

    
}

#landing-text {
    flex-basis: 30vw;
}

/*INSPO PAGE*/

#inspo-section {
    margin: 15px 0;
    background: #94d0c2ff;
    
}

.inspiration-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 20px;
    
    

}


.inspo-dish img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

/*RECIPE PAGE*/
#recipe-section {
    background-color: #ddd3f5ff;
}
