
/*COLOR PALETTE*/
/* CSS HEX
--imperial-red: #f23642ff; - RED (background)
--violet-jtc: #542644ff; - PLUM (text)
--saffron: #e4c139ff; - YELLOW (logos and borders)
--tiffany-blue: #94d0c2ff; LIGHT BLUE ()
--periwinkle: #ddd3f5ff; LIGHT PURPLE ()
*/

/*Google Fonts import*/
@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');






/*body*/
body {
    color: #542644ff;
    font-family: 'Poppins';
}

body h1,h2,h3,h4,h5,h6, a {
    font-family: "Madimi One";
    text-transform: uppercase;
}

/*header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F5666F;
    height: 22vh;
    padding-left: 40px;
    position: sticky;
    top: 0px;
    z-index: 2;
}


h1 {
    flex-basis: 50%;
    font-size: 3.5em;
    align-self: center;
    margin: 0;
    text-align: center;
    
}


nav {
    flex-basis: 50%;
    display: flex;
    justify-content: flex-end;
    gap: 5em;
    padding-right: 60px;
}

#menu-toggle {
    display: none;
}

#menu-toggle-label {
    display: none;
}



nav ul {
    list-style-type: none;
    display: flex;
    gap: 6rem;
    
}

a {
    list-style: none;
    font-size: xx-large;
    align-self: center;
    text-decoration: none;
    color: #542644ff;

}

a:link {
    color: #542644ff;
}


/*MAIN*/

h2 {
    font-size: xx-large;
    text-align: center;
}

/*LANDING PAGE*/

#landing-section {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 56vh;
    margin: 15px 0 0 0;
    padding: 30px 0;
    background: #e4c139ff;
    border-bottom: 1px solid white; /*BUG: line needed to keep margin at 15px, which intended*/
}

#landing-section h2 {
    text-align: left;
}

#landing-img /*2488x3360px*/ {
    width: 430px;
    height: 430px;
    object-fit: cover;
    object-position: 50% 65%;
    border-radius: 50%;
    position: relative;
    left: 30px;

    
}

#landing-text {
    flex-basis: 32vw;
}

/*INSPO PAGE*/

#inspo-section {
    margin: 15px 0 0 0;
    background: #94d0c2ff;
    border-top: 1px solid white; /*BUG: line needed to keep margin at 15px, which intended*/
    
}

.inspiration-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px 20px;
    

}

.country {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.country p {
    margin-top: 5px;
}


.inspo-dish img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

/*RECIPE PAGE*/
#recipe-section {
    background-color: #ddd3f5ff;
    margin: 15px 0 0 0;
    padding: 25px;
    height: 1800px;

}


#recipe-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 72vw;
    gap: 10px;

}

.recipe {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    flex-basis: 18vw;
}

.recipe * {
    flex-basis: 18vW;
}

.recipe ul {
    text-align: end;
    list-style-type: none;
}


.recipe-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

/*Newsletter*/
.newsletter-box {
    border: solid 2px #542644ff;
    border-radius: 50%;
    height: 18vW;
    width: 18vw;
    position: sticky;
    top: 23vh;
    right: 30px;
    float: right;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#newsletter-legend {
    background-color: #ffffff;
    padding: 3px;
    position: relative;
    top: 15px;
    width: 190px;
}


input:user-invalid {
    border: 1px solid #F5666F;
}

/*footer*/
footer {
    height: 150px;
    background-color: #F5666F;
    text-align: center;
    padding-top: 40px;
    margin: 15px 0 0 0;
}

footer a {
    margin: 0 20px;
}


/*For phones*/
@media screen and (max-width: 767px) {

    /*Header*/
    h1 {
        font-size: 2rem;
    }
    
    nav {
        display: none;
    }
    
    nav li {
        text-align: end;
    }
    
    #menu-toggle {
        display: none;
    }
    
    #menu-toggle-label {
        font-size: 5rem;
        padding: 2rem 5rem 0 0;
        display: block;
    }
    
    #menu-toggle:checked~nav{
        display: block;
    }
}


/*For tablets*/
@media screen and (max-width: 991px ){
/*Header*/
h1 {
    font-size: 3rem;
}

nav {
    display: none;
}

nav li {
    text-align: end;
}

nav ul {
    display: block;
}

#menu-toggle {
    display: none;
}

#menu-toggle-label {
    font-size: 5rem;
    padding: 2rem 5rem 0 0;
    display: block;
}

#menu-toggle:checked~nav{
    display: block;
}

/*Landing page*/

#landing-section {
    height: 66vh;
}

#landing-img {
    width: 340px;
    height: 340px;
}

/*Inspo page*/
.inspiration-container {
    gap: 10px;
}

.country {
    flex-basis: 300px;
}

#inspo-section h2, h3 {
    font-size: 2em;
}


}